<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <table>
                            <tr>
                                <td (click)="setBlock('x1y1')">
                                    <div id="x1y1">{{x1y1}}</div>
                                </td>
                                <td class="vert" (click)="setBlock('x2y1')">
                                    <div id="x2y1">{{x2y1}}</div>
                                </td>
                                <td (click)="setBlock('x3y1')">
                                    <div id="x3y1">{{x3y1}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="hori" (click)="setBlock('x1y2')">
                                    <div id="x1y2">{{x1y2}}</div>
                                </td>
                                <td class="vert hori" (click)="setBlock('x2y2')">
                                    <div id="x2y2">{{x2y2}}</div>
                                </td>
                                <td class="hori" (click)="setBlock('x3y2')">
                                    <div id="x3y2">{{x3y2}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td (click)="setBlock('x1y3')">
                                    <div id="x1y3">{{x1y3}}</div>
                                </td>
                                <td class="vert" (click)="setBlock('x2y3')">
                                    <div id="x2y3">{{x2y3}}</div>
                                </td>
                                <td (click)="setBlock('x3y3')">
                                    <div id="x3y3">{{x3y3}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <div class="row">
                        <div class="col-md-5 text-right">John : 0 <i class="fa fa-arrow-left"></i> </div>
                        <div class="col-md-2 text-center">|</div>
                        <div class="col-md-5"><i class="fa fa-arrow-right"></i> 1 : Doe</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>